<h1>Editing 3D Model</h1>

<%= render "form", model3d: @model3d %>

<br>

<div>
  <%= link_to "Show this model3d", @model3d %> |
  <%= link_to "Back to model3ds", model3ds_path %>
</div>
<%= render @model3d %>