<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %> <br>
    <strong>Description:</strong>
    <%= topic.description %>
    <strong>Id:</strong>
    <%= topic.id%>
  </p>

</div>


